@import '../all.scss';

.question-three {
  width: 100%;
  height: 100%;
  background-color: $color-dark-blue;
  display: flex;
  .left {
    width: calc(100% - 58.59375%);
    height: 100%;
    background-color: $color-pink;
    animation: slideIn 2s ease-in-out forwards;
    .content {
      position: absolute;
      right: px-to-vw(100px, 900px);
      width: 100%;
      max-width: 600px;
      padding: 85px 0px 0px 220px;
      animation: fadeIn 2s;
    }
    .title {
      color: white;
      margin-bottom: 16px;
    }
    .sub-title {
      color: black;
      margin-bottom: 16px;
    }
    .description{
      font-size: 24px;
      line-height: 36px;
      color: black;
      margin-bottom: 40px;
    }
    .button-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      button {
        border: none;
        outline: none;
        width: 100%;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 30.5px;
        font-size: 20px;
        text-align: center;
        line-height: 36px;
        color: white;
        padding: 10px;
        margin-bottom: 16px;
        cursor: pointer;
        transition: .3s;
        &:hover {
          color: $color-blue;
          background-color: white;
        }
      }
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      80% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes slideIn {
      0% {
        width: calc(100% - 58.59375%);
      }
      50% {
        width: 100%;
      }
      100% {
        width: 58.59375%;
      }
    }
  }
  .right {
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    background-color: $color-blue;
    overflow: hidden;
    animation: add-width .8s 1s ease-in-out forwards;
    .block {
      width: 100%;
      height: 100%;
    }
    .square, .triangle, .circle {
      position: absolute;
    }
    .square {
      top: 101%;
      left: 65px;
      width: 330px;
      height: 330px;
      background-color: $color-dark-blue;
      transform: rotate(3deg);
      animation: buttom-In-square 1.5s 2.1s cubic-bezier(0.4, 0, 0.2, 1) forwards, rotate-s 4s 4.1s ease-in-out forwards;;
    }
    .triangle {
      top: 100%;
      left: 170px;
      width: 250px;
      height: 250px;
      transform: rotate(-25deg);
      animation: buttom-In-traingle 1.5s 2.6s cubic-bezier(0.4, 0, 0.2, 1) forwards, rotate-t 4s 4.1s ease-in-out forwards;
      &:before {
        width: 0px;
        height: 0px;
        content: '';
        border-style: solid;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0 125px 216.5px 125px;
        border-color: transparent transparent black transparent;
      }
    }
    .circle {
      top: 100%;
      left: 180px;
      width: 380px;
      height: 380px;
      background-color: white;
      border-radius: 50%;
      animation: buttom-In-circle 1.5s 2.1s cubic-bezier(0.4, 0, 0.2, 1) forwards, move 4s 4.1s ease-in-out forwards;;
    }
    @keyframes add-width {
      from {
        width: 0;
      }
      to {
        width: calc(100% - 58.59375%);
      }
    }
    @keyframes buttom-In-square {
      from {
        top: 100%;
      }
      to {
        top: 111px;
      }
    }
    @keyframes buttom-In-traingle {
      from {
        top: 100%;
      }
      to {
        top: 466px;
      }
    }
    @keyframes buttom-In-circle {
      from {
        top: 100%;
      }
      to {
        top: -80px;
      }
    }
    @keyframes rotate-s {
      from {
        transform: rotate(3deg);
      }
      to {
        transform: rotate(-15deg);
      }
    }
    @keyframes rotate-t {
      from {
        transform: rotate(-25deg);
      }
      to {
        transform: rotate(335deg);
      }
    }
    @keyframes move {
      0% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(-15px, 15px);
      }
      100% {
        transform: translate(-25px, 0px);
      }
    }
  }
}

